<!DOCTYPE html>
<html lang="jp">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" ></script> 
  <script type="module" src="./paperList.js"></script> 
  <script src="./main.js" defer></script> 
</head>
<body  id="body">
  <div class='about'><h2>SEARCH</h2>
  <hr class='accenthr'>
  <div id="app">
    <div id="listing" class="paper_list">
      <select class="select" id="sort_law" v-model="order">
        <option value="upolder" >更新日時（昇順）</option>
        <option value="upnewer" >更新日時（降順）</option>
        <option value="older">出版年（昇順）</option>
        <option value="newer">出版年（降順）</option>
      </select>
      <select id="field" class="select" v-model="field">
          <option value="none">分野を選択</option>
          <option value="物理">物理</option>
          <option value="化学">化学</option>
          <option value="生物">生物</option>
          <option value="地学">地学</option>
          <option value="数学">数学</option>
          <option value="情報">情報</option>
          <option value="教育">教育</option>
          <option value="文学">文学</option>
          <option value="グローバル">グローバル</option>
          <option value="人間科学">人間科学</option>
          <option value="歴史">歴史</option>
          <option value="現代社会">現代社会</option>
          <option value="地方創生">地方創生</option>
          <option value="政治経済">政治経済</option>
          <option value="倫理">倫理</option>
          <option value="芸術">芸術</option>
          <option value="体育">体育</option>
          <option value="その他">その他</option>
      </select>
      <select id="pref"  class="select" v-model="pref">
        <option value="none" >都道府県</option>
        <option value="北海道">北海道</option>
        <option value="青森県">青森県</option>
        <option value="岩手県">岩手県</option>
        <option value="宮城県">宮城県</option>
        <option value="秋田県">秋田県</option>
        <option value="山形県">山形県</option>
        <option value="福島県">福島県</option>
        <option value="茨城県">茨城県</option>
        <option value="栃木県">栃木県</option>
        <option value="群馬県">群馬県</option>
        <option value="埼玉県">埼玉県</option>
        <option value="千葉県">千葉県</option>
        <option value="東京都">東京都</option>
        <option value="神奈川県">神奈川県</option>
        <option value="新潟県">新潟県</option>
        <option value="富山県">富山県</option>
        <option value="石川県">石川県</option>
        <option value="福井県">福井県</option>
        <option value="山梨県">山梨県</option>
        <option value="長野県">長野県</option>
        <option value="岐阜県">岐阜県</option>
        <option value="静岡県">静岡県</option>
        <option value="愛知県">愛知県</option>
        <option value="三重県">三重県</option>
        <option value="滋賀県">滋賀県</option>
        <option value="京都府">京都府</option>
        <option value="大阪府">大阪府</option>
        <option value="兵庫県">兵庫県</option>
        <option value="奈良県">奈良県</option>
        <option value="和歌山県">和歌山県</option>
        <option value="鳥取県">鳥取県</option>
        <option value="島根県">島根県</option>
        <option value="岡山県">岡山県</option>
        <option value="広島県">広島県</option>
        <option value="山口県">山口県</option>
        <option value="徳島県">徳島県</option>
        <option value="香川県">香川県</option>
        <option value="愛媛県">愛媛県</option>
        <option value="高知県">高知県</option>
        <option value="福岡県">福岡県</option>
        <option value="佐賀県">佐賀県</option>
        <option value="長崎県">長崎県</option>
        <option value="熊本県">熊本県</option>
        <option value="大分県">大分県</option>
        <option value="宮崎県">宮崎県</option>
        <option value="鹿児島県">鹿児島県</option>
        <option value="沖縄県">沖縄県</option>
        </select>
   
      <button class="go" v-on:click="search">検索 </button>
      
      <div id="itemArea">
        <div  id="item" v-for="item in orderedObj">
          <br>
          <a target="_blank"  href="clickcheck.php?id='+ pFinal[index]['id'] +'" >
            <div class="item_block">
              <div class="paper_title" >{{  item.title  }}</div>
              <hr>
              <div class="paper_author" id="item0a">{{  item.author  }} </div>
              <div class="paper_field"> {{  item.field  }} </div>
              <div class="paper_data"> {{  item.data  }}  </div>
             </div>
          </a>
      </div>
    </div>
      
      
      
      <div id="deeperButtonArea"></div>
      
    </div>

  </div >

</body>


